Importing data from CardDAV and exporting by QR-code generates TYPE=OTHER

I use rcmcarddav 4.4.6 and Roundcube 1.6.0.  I import this addressbook https://mail.aegee.org/dav/addressbooks/user/cal/bodies/ without username, without password.  It contains this contact:
```
BEGIN:VCARD
VERSION:3.0
KIND:org
UID:e947872a-224b-4c84-8d25-90a541a9ec5-112
TEL:+386514XXXX
EMAIL:info@aegee-[cut-on-purpose]
ORG:AEGEE;Antenna
CATEGORIES:Antenna
ADR:;;;;;;Slovenia
LABEL:Društvo študen[cut], 2000 Maribor, Slovenija
NOTE:Website: http://www.[cut-on-purpose]\, Facebook page: https://www.face
 book.com/zzz/
URL:https://aegee-[cut-on-purpose]
BDAY:19960110
REV:20200909T205306Z
FN:AEGEE-Maribor
N:;AEGEE-Maribor;;;
END:VCARD
```
As next I open the contact in RoundCube and select More  → QR Code.  I scan the code.  Its raw data contains:
```
EMAIL;TYPE=INTERNET;TYPE=OTHER:info@aegee-[cut-on-purpose]
TEL:TYPE=OTHER:+386514XXXX
```
The vCARD 3.0 (RFC 2425 and RFC 2426) and vCARD 4.0 (RFC 6350) do not mention `TYPE=OTHER`.  Moreover `TYPE=OTHER` shall be mutually exclusive to `TYPE=INTERNET`.  When I import in RoundCube an LDAP Addressbook, as described at https://github.com/roundcube/roundcubemail/issues/8833, the same Mariobor-contact is also present.  Well, LDAP and vCard are different things, but when Maribor-from-LDAP is converted to QR-code it does not contain TYPE=OTHER.  So I assume that rcmcarddav includes TYPE=OTHER.

Please do not insert TYPE=OTHER in the QR-export, as the more data are transferred over QR, the more-error prone the transport is.

For the record, when the vCard contains:
```
BEGIN:VCARD
VERSION:4.0
EMAIL;TYPE=home:abc
```
then the QR-export contains `EMAIL;TYPE=INTERNET;TYPE=home:abc`.  It would be better, if INTERNET and HOME are compacted to `EMAIL;TYPE=INTERNET,HOME:abc`.

Even better will be if TYPE=INTERNET does not appear in the output, if it is not included in the input.  Then some more useful data can be transferred instead of TYPE=INTERNET, like birthdate of the vCard.

Demonstration https://roundcube.aegee.org u: aaa at aegee.org pw=abc, → Contacts → CardDAV (Bodies) → AEGEE-Maribor → horisontal ellipsis on the upper left corner → QR code

Hello,

 RFC 2426 explicitly says that TYPE values other than those mentioned in the RFC are allowed to be set for the EMAIL TYPE parameter.

Concerning the QR code, the vcard is created by roundcube from its internal data representation of a contact. RCMCardDAV before converts the incoming VCard to roundcube's internal representation. This internal representation requires __one__ subtype must be assigned for multi-value fields. This means the conversion to the roundcube data model is "lossy": In the VCard, several TYPE parameters are allowed to be specified, but RCMCardDAV must choose __one__, so the others will be lost in translation. On the other hand, if there is __no__ TYPE parameter, RCMCardDAV still has to provide a subtype to roundcube, and in this case will choose "Other".

References:
https://github.com/roundcube/roundcubemail/blob/1cae401af449775eba1cd5432c67e20716ab3fd8/program/actions/contacts/qrcode.php#L73

https://github.com/roundcube/roundcubemail/blob/1cae401af449775eba1cd5432c67e20716ab3fd8/program/lib/Roundcube/rcube_vcard.php#L402


When I import contacts over LDAP, in terms of a preset in config/config.inc.php, and export a contact from the LDAP addressbook, it does not contain TYPE=OTHER, only TYPE=INTERNET.  So the LDAP integration finds a way to convert LDAP to RC-internal format without producing additional output in the QR codes.

I filled https://github.com/roundcube/roundcubemail/issues/8838 concerning TYPE=OTHER.